    <p class="text-center">
      退会すると、会員登録情報や</br>
      投稿やコメントができなくなります。</br>
      退会する場合は、「退会する」をクリックしてください。</p>
      <div  class="text-center">
       <%= link_to "退会しない", customer_path(current_customer), class:"btn btn-primary btn-sm mr-3" %>
       <%= link_to "退会する", withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class:"btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>