<div class="container pt-3">
<div class="row text-center">
  <%= link_to new_post_path do %>新規投稿<% end %>
  <div class="col-10 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">投稿一覧</th>
          </tr>
        </thead>
        <% @posts.each do |pos| %>
        <tbody>
          <tr>
            <td><%= pos.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= pos.body %></td>
            <td><%= pos.customer.name %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
  </div>
</div>
</div>
