<div class="container pt-3">
<div class="row text-center">
  <div class="col-10 mx-auto" >
    <h1 class="text-center">About</h1>
    <p>
    ゴルフ好きの方、ゴルフをする方のための</br>
    コミュニティサイトです。</br>
    たくさんの方といろんな情報を共有したり、</br>
    雑談やお互いに励まし合ったり、</br>
    楽しくサイトを通じて仲良くしてください！</br>
    </p>
    <%= image_tag 'golf_about.jpg', width: '100%', height: '50%' %>
  </div>
</div>
</div>