<div class="container pt-3">
  <div class="row">
    <div class="col-10 mx-auto">
        <span>投稿詳細</span></br>
        <%= @post.body %></br>
        <%= @post.customer.name %></br>
         <p>コメント(<%= @post.comments.count %>),いいね(<%= @post.favorite.count %>)</p>
    </div>
  </div>
</div>